<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Simon Callsen | Home</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/site.css" rel="stylesheet">


  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700|Nunito:400,700" rel="stylesheet">

</head>
<body>

  {{content}}

  <section id="contact-me" class="text-span-section gutter push-2">
    <div class="text-span-section-text pad-t pad-b-1-4 ">
      <p class="max-width push">Feel free to send me an email!</p>
      <a class="btn btn-light micro push" href="mailto:simon.callsen@gmail.com?Subject=Hey%20Simon">SIMON.CALLSEN@GMAIL.COM</a>
    </div>
  </section>

  <section class="footer-nav push">
    <span>Copyright 2018 Simon Callsen</span>

    <div>
      <ul class="micro soc-list list-group-inline">
        <li><a href="#" class="gutter-1-2 footer-link">Vimeo</a></li>
        <li><a href="#" class="gutter-1-2 footer-link">LinkedIn</a></li>
        <li><a href="#" class="gutter-1-2 footer-link">Twitter</a></li>
        <li><a href="#" class="gutter-1-2 footer-link">Behance</a></li>
      </ul>
    </div>
  </section>

</body>
</html>
